.env
**/.env
**/__pycache__
multi-agent/venv/

# Sphinx documentation
build/
.venv/
rules-bank/_build/
rules-bank/.jupyter_cache/
*.doctree
.buildinfo
build/doctrees/
build/**


hello-a2a/
multi-agent/manager/sub_agents/*/*.log
.DS_Store


soc-blackboard/logs/*.log
soc-blackboard/logs/*.jsonl
soc-blackboard/logs/*.html
soc-blackboard/reports/*.md
soc-blackboard/venv/

soc-blackboard/blackboard_data

soc-blackboard/*.log
